<html>
<body>
<h2>my first ejs file</h2>
<form method="POST" action="/edited/<%=data._id%>">
fisrtname:<input type="text" value="<%=data.fname%>" name="fname"><br>
lastname:<input type="text" size"20" name="lname" value="<%=data.lname%>"><br>
<input type="submit"  value="submit">
</form>
</body>
</html>