<html>
<body>
<h4>thanks for upload your data</h4>
<p>your first name is <%=data.fname %></br>and last name is <%=data.lname%></p>
<input type="text" value="<%=data.fname %>"></br>
<p>In Mongodb also values are inserted successfully</p>
</body>
</html>